<div class="task-container">
    <div class="task-list" id="taskList">
        {% for task in tasks %}
        <div class="task-item mb-4 p-4 bg-gray-200 rounded shadow">
            <h3 class="task-title font-bold mb-2">{{ task.name }}</h3>
            <p class="task-description mb-2">{{ task.description }}</p>
            <div class="task-controls">
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% block javascripts %}
    {{ encore_entry_script_tags('tasks') }}
{% endblock %}