<div class="collection-element col-span-2 bg-secondary text-white" style="height: calc(100vh - 105px);" data-collection="My Day">
    <!-- Sidebar content goes here -->
    <!-- Show user collections -->
    <li>
        <a href="#">
            <span class="icon">
                <i class="fas fa-book"></i>
            </span>
            <span class="text">My collections</span>
        </a>
    </li>
</div>
