<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/custom-button.css') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
    {% include 'header.html.twig' %}

    <div class="container mx-auto">
        {% block body %}{% endblock %}
    </div>

    <script src="{{ asset('build/app.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
