<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- Navigation -->
    {% include 'header.html.twig' %}

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="grid grid-cols-12">
            {% include '_sidebar.html.twig' %}
            
            <div class="col-span-10" id="task-container">
                {% block titlebar %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- end Page Content -->

    <script src="{{ asset('build/app.js') }}"></script>
    

</body>
</html>


