<header class="sticky top-0 bg-primary shadow-md">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-10 py-4">
    <!-- Logo -->
    <div class="flex items-center">
      <img src={{ asset('images/logo.svg') }} alt="Logo" class="h-14 mr-4 ml-4">
      <h1 class="text-xl font-bold text-white">Task Manager <span class="italic mx-4 text-highlight">by Loïc Mougin</span></h1>
    </div>
    
    <!-- Buttons -->
    <div class="flex items-center space-x-4">
      <button class="custom-button bg-highlight text-white rounded px-4 py-2">+</button>
      <button class="custom-button bg-gray-700 text-white rounded px-4 py-2">Connect</button>
    </div>
  </div>
</header>
