<div 
  id="overlay" 
  class="fixed top-0 left-0 w-full h-full z-30" 
  {% if is_logged %}
  style="display: none;"
  {% endif %}
  >
</div>

{# <-- Login Modal --> #}
<div 
  id="loginModal" 
  class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-40" 
  {% if is_logged %}
  style="display: none;"
  {% endif %}
  >
    <form id="loginForm" class="tabContent">
      <div class="form-container w-80 rounded-xl bg-secondary p-8 text-white">
        <p class="title text-center text-xl leading-8 font-bold">
          <a class="" id="loginTab" onclick="changeTab('login')">Login</a>
        </p>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="username" class="block text-gray-400 mb-1">Email</label>
            <input type="text" name="_username" id="username" placeholder="youremail@example.com" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
          </div>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="password" class="block text-gray-400 mb-1">Password</label>
            <input type="password" name="_password" id="password" placeholder="" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
            <div class="forgot">
              <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
            </div>
          </div>
          <button class="sign">Sign in</button>
          <span class="bottom_text m-3">Don't have an account? <a href="#" class="switch" for="register_toggle">Sign Up</a> </span>
      </div>
    </form>

    <form id="signupForm" class="tabContent" style="display: none;">
      <div class="form-container w-80 rounded-xl bg-secondary p-8 text-white">
        <p class="title text-center text-xl leading-8 font-bold">
          <a class="" id="signupTab" onclick="changeTab('signup')">Register</a>
        </p>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="signupEmail" class="block text-gray-400 mb-1">Email</label>
            <input type="text" name="signupEmail" id="signupEmail" placeholder="youremail@example.com" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
          </div>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="signupPassword" class="block text-gray-400 mb-1">Password</label>
            <input type="password" name="signupPassword" id="signupPassword" placeholder="" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
          </div>
          <br>
          <button class="sign">Create an account</button>
          <span class="bottom_text m-3">Already have an account? <a href="#" class="switch" for"register_toggle">Connect</a> </span>
      </div>
    </form>
</div>

{# <-- Create Modal --> #}
<div id="createModal" 
class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-40" style="display: none;">
  <div class="form-container w-100 rounded-xl bg-secondary p-8 text-white flex flex-col items-center justify-center">
    <p class="title text-center text-xl leading-8 font-bold">
      Wanna create something ?
    </p>
    <button id="createCollectionButton" class="bg-highlight text-white w-60 rounded px-4 py-2 my-2">+ Add New Collection 📗</button>
    <button id="createTaskButton" class="bg-highlight text-white rounded w-60  px-4 py-2 my-2">+ Add New Task ✅</button>
  </div>
</div>

{# <-- Create Collection Modal --> #}
<div id="createCollectionModal"
  class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-40" style="display: none;">
  <div class="form-container w-100 rounded-xl bg-secondary p-8 text-white flex flex-col items-center justify-center">
    <p class="title text-center text-xl leading-8 font-bold">
      Create a new collection 📗
    </p>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="collectionName" class="block text-gray-400 mb-1">Collection Name</label>
      <input type="text" name="collectionName" id="collectionName" placeholder="My Collection" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
    </div>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="collectionDescription" class="block text-gray-400 mb-1">Collection Description</label>
      <textarea name="collectionDescription" id="collectionDescription" placeholder="My Collection Description" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200" style="background-color: rgba(17, 24, 39, 1);"></textarea>
      <button id="createFolder" class="bg-highlight text-white rounded w-40  px-4 py-2 my-2">Create Collection</button>
    </div>
  </div>
</div>

{# <-- Create Task Modal --> #}
<div id="createTaskModal"
  class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-40" style="display: none;">
  <div class="form-container w-100 rounded-xl bg-secondary p-8 text-white flex flex-col items-center justify-center">
    <p class="title text-center text-xl leading-8 font-bold">
      Create a new task ✅
    </p>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="taskName" class="block text-gray-400 mb-1">Task Name</label>
      <input type="text" name="taskName" id="taskName" placeholder="My Task" maxlength="50" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
    </div>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="taskDescription" class="block text-gray-400 mb-1">Task Description</label>
      <textarea name="taskDescription" id="taskDescription" placeholder="My Task Description" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200" style="background-color: rgba(17, 24, 39, 1);"></textarea>
    </div>
    <div class="flex justify-between w-80">
      <div class="input-group mt-1 text-sm leading-5 mr-2 flex-1">
        <label for="goalDate" class="block text-gray-400 mb-1">Goal Date</label>
        <input type="date" name="goalDate" id="goalDate" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
      </div>
      <div class="input-group mt-1 text-sm leading-5 ml-2 flex-1">
        <label for="goalTime" class="block text-gray-400 mb-1">Goal Time</label>
        <input type="time" name="goalTime" id="goalTime" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
      </div>
    </div>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="location" class="block text-gray-400 mb-1">Location</label>
      <input type="text" name="location" id="location" placeholder="Location" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
    </div>
    <button id="createTask" class="bg-highlight text-white rounded w-40  px-4 py-2 my-2">Create Task</button>
  </div>
</div>

{# <-- Edit Task Modal --> #}
<div id="editTaskModal"
  class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-40" style="display: none;">
  <div class="form-container w-100 rounded-xl bg-secondary p-8 text-white flex flex-col items-center justify-center">
    <p class="title text-center text-xl leading-8 font-bold">
      Edit task ✏️
    </p>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="editTaskName" class="block text-gray-400 mb-1">Task Name</label>
      <input type="text" name="editTaskName" id="editTaskName" placeholder="My Task" maxlength="50" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
      <input type="hidden" id="editTaskId">
    </div>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="editTaskDescription" class="block text-gray-400 mb-1">Task Description</label>
      <textarea name="editTaskDescription" id="editTaskDescription" placeholder="My Task Description" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200" style="background-color: rgba(17, 24, 39, 1);"></textarea>
    </div>
    <div class="flex justify-between w-80">
      <div class="input-group mt-1 text-sm leading-5 mr-2 flex-1">
        <label for="editGoalDate" class="block text-gray-400 mb-1">Goal Date</label>
        <input type="date" name="editGoalDate" id="editGoalDate" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
      </div>
      <div class="input-group mt-1 text-sm leading-5 ml-2 flex-1">
        <label for="editGoalTime" class="block text-gray-400 mb-1">Goal Time</label>
        <input type="time" name="editGoalTime" id="editGoalTime" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
      </div>
    </div>
    <div class="input-group mt-1 text-sm leading-5 w-80">
      <label for="editLocation" class="block text-gray-400 mb-1">Location</label>
      <input type="text" name="editLocation" id="editLocation" placeholder="Location" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
    </div>
  <button id="editTask" class="button-disabled text-white rounded w-40 px-4 py-2 mb-2 mt-8" disabled>Save Changes</button>
  </div>
</div>

<style>
.button-disabled {
  background-color: gray;
}

.button-enabled {
  background-color: #107361;
}
</style>
