<div id="overlay" class="fixed top-0 left-0 w-full h-full z-1" style="display: none;"></div>

{# <-- Login Modal --> #}
<div id="loginModal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-10" style="display: none;">
    <form id="loginForm" class="tabContent">
      <div class="form-container w-80 rounded-xl bg-secondary p-8 text-white">
        <p class="title text-center text-xl leading-8 font-bold">
          <a class="" id="loginTab" onclick="changeTab('login')">Login</a>
        </p>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="username" class="block text-gray-400 mb-1">Email</label>
            <input type="text" name="_username" id="username" placeholder="youremail@example.com" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
          </div>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="password" class="block text-gray-400 mb-1">Password</label>
            <input type="password" name="_password" id="password" placeholder="" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
            <div class="forgot">
              <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
            </div>
          </div>
          <button class="sign">Sign in</button>
          <span class="bottom_text m-3">Don't have an account? <a href="#" class="switch" for="register_toggle">Sign Up</a> </span>
      </div>
    </form>

    <form id="signupForm" class="tabContent" style="display: none;">
      <div class="form-container w-80 rounded-xl bg-secondary p-8 text-white">
        <p class="title text-center text-xl leading-8 font-bold">
          <a class="" id="signupTab" onclick="changeTab('signup')">Register</a>
        </p>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="signupEmail" class="block text-gray-400 mb-1">Email</label>
            <input type="text" name="signupEmail" id="signupEmail" placeholder="youremail@example.com" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
          </div>
          <div class="input-group mt-1 text-sm leading-5">
            <label for="signupPassword" class="block text-gray-400 mb-1">Password</label>
            <input type="password" name="signupPassword" id="signupPassword" placeholder="" class="w-full rounded border border-blueGray-700 outline-none bg-blueGray-900 py-3 px-4 text-gray-200">
          </div>
          <br>
          <button class="sign">Create an account</button>
          <span class="bottom_text m-3">Already have an account? <a href="#" class="switch" for"register_toggle">Connect</a> </span>
      </div>
    </form>
</div>

{# <-- Create Modal --> #}
<div id="createModal" 
class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-10" style="display: none;">
  <div class="form-container w-100 rounded-xl bg-secondary p-8 text-white flex flex-col items-center justify-center">
    <p class="title text-center text-xl leading-8 font-bold">
      Wanna create something ?
    </p>
    <button id="createCollection" class="bg-highlight text-white w-60 rounded px-4 py-2 my-2">+ Add New Collection 📗</button>
    <button id="createTask" class="bg-highlight text-white rounded w-60  px-4 py-2 my-2">+ Add New Task ✅</button>
  </div>
</div>